/* DEFINITION DES TYPOGRAPHIES  ET PROPRIETES GENERALES ###########*/

@font-face {
    font-family: 'Rajdhani-Medium';
    font-style: medium;
    src: url('fonts/Rajdhani-Medium.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Bold';
    font-style: bold;
    src: url('fonts/SpaceGrotesk-Bold.ttf');
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('fonts/SpaceGrotesk-Regular.ttf');
}


/* attribution des fonts aux balises prédefinir*/

h1 {
    font-family: 'Rajdhani-Medium';
    font-size: 36px;
    color: #ffffff;
    /* text-align: center; */
}

h2 {
    font-family: 'SpaceGrotesk-Regular';
    font-size: 22px;
}

p {
    font-family: 'SpaceGrotesk-Regular';
    text-align: justify;
    color: #ffffff;
    font-size: 22px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Rajdhani-Medium';
    font-size: 20px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    background-image: linear-gradient(to right, rgba(237, 222, 191, 0.40), rgba(137, 0, 9, 0.60));
    width: 200px;
    height: 30px;
}

.btn:hover {
    transition: 5s;
    background-image: linear-gradient(to right, #eddebf, #890009);
}


/* Par defaut toutes les balises doivent être coller les unes aux autre */

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../Assets/Illustrations/Bathome1.png') no-repeat center;
    /* background-size: 1000px; */
    background-position: 0px 0px;
    background-size: 100%;
    background-color: black;
}

.container {
    margin: auto;
    width: 85%;
    border: solid rgba(255, 255, 255, 0.1) 3px;
}

.main {
    border-bottom: 0;
}


/* FIN PROPRIETE GENERALE  #############*/


/* STYLE DE HEADER ###############*/


/* .logo-header {} */

.logo-header,
.menu {
    display: inline-block;
    margin: 50px;
    margin-bottom: 100px;
}

.logo-header img:hover {
    filter: blur(4px);
    /* filter: brightness(250%); */
    /* filter: contrast(180%); */
}

.menu {
    float: right;
    margin: 50px;
}

.menu a {
    text-decoration: underline;
    color: #ffffff;
}


/* DEFINITION des propriété de la section Into ####################*/

.intro-main {
    position: relative;
}

.intro {
    margin: auto;
    margin-top: 250px;
    width: 600px;
    text-align: center;
}

.intro .content p {
    text-align: center;
    font-size: 1.3em;
    margin: 10px;
}

.intro .content h2 {
    margin: 30px;
    color: #ffffff;
}

.intro .icon-down {
    margin-top: 300px;
}

.intro-main .logo-content {
    position: absolute;
    margin-top: -600px;
    margin-left: 95.5%;
}

.logo-content img {
    margin: auto;
    display: block;
    padding: 10px;
}


/* FIN section Intro ############################# */


/* DEFINITION des propriétés de la section batman au cinema -> Alliés ####################*/


/* propriétés s'applicant à toutes les section semblable */

.box {
    margin: auto;
    width: 85%;
    margin-bottom: 100px;
}

.box .title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box .texte {
    width: 95%;
    /* font-size: 1.4em; */
    margin-bottom: 80px;
}

.box .row {
    display: flex;
    justify-content: space-between;
}

.box .row .profil {
    text-align: center;
    width: 310px;
}

.box .row .profil:hover {
    transition: 1s;
    width: 370px;
}

.box .row .profil img {
    width: 100%;
}

.box .row .profil-title {
    margin: 25px;
    text-align: center;
}


/* Priopriétés spécifique à chaque section */

.batman {
    margin-top: 70px;
}

.container-title {
    display: flex;
    flex-direction: row;
}

.div-allies {
    justify-content: space-between;
}

.container-title .title {
    padding-bottom: 0;
    text-align: center;
    padding-top: 60px;
}

.container-title .img-nemesis {
    margin-left: -60px;
    width: 150px;
}

.div-allies .img-allies {
    margin-top: -200px;
    margin-right: -19%;
}


/* FIN section Batman -> Alliés ############################# */


/* DEFINITION des propriétés justice league ####################*/

.justice-main {
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.justice-main .title {
    margin-bottom: 30px;
}

.justice-leagues img {
    /* margin-left: -10%; */
    /* margin-right: -10%; */
    margin-left: -9%;
    width: 99vw;
}


/* FIN section justice league ############################# */


/* DEFINITION des propriétés MEDIA ####################*/

.slides-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrow-prec {
    margin: auto;
    margin-left: 0;
}

.arrow-next {
    margin: auto;
    margin-right: 0;
}

.slides-media .slides {
    background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.40), rgba(25, 88, 125, 0.40));
    display: flex;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 250px;
    border-radius: 20px;
}

.slides .description {
    border-radius: 0px 20px 20px 0px;
    border: solid 2px rgba(255, 255, 255, 0.1);
    border-left: 0;
}

.description p {
    margin: 10px;
    font-size: 0.8em;
    text-align: left;
}

.description .types-media {
    font-size: 1em;
}

.description .version-media span {
    color: #FFFF00;
}

.description .name-media {
    font-family: 'Rajdhani-Medium';
    font-size: 1.2em;
}

.slides img {
    width: 100%;
}


/* Image d'annonce */

.bande-annonce {
    margin: auto;
    width: 90%;
    text-align: center;
    margin-bottom: 200px;
}

.bande-annonce img {
    width: 95%;
    vertical-align: middle;
}


/* FIN section MEDIA ############################# */


/* DEFINITION des propriétés CONTACT ####################*/

.contact {
    background-color: black;
    background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.40), rgba(25, 88, 125, 0.40));
    margin-left: -9%;
    width: 99vw;
    height: 800px;
}

.contact-main {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding-top: 60px;
}

.contact-main h1 {
    margin-bottom: 80px;
    text-transform: uppercase;
}


/* FIN section CONTACT ############################# */


/* DEFINITION des propriétés de la section CITATION ####################*/

.citation {
    margin-top: 200px;
}

.citation-main {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.citation-main .open-citation {
    margin: auto;
    margin-top: 0;
    margin-left: 0;
}

.citation-main .close-citation {
    margin: auto;
    margin-bottom: 0;
    margin-right: 0;
}

.citation-main .text-citation {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 0.7em;
}

.text-citation p {
    text-align: center;
    font-weight: 70px;
    line-height: 40px;
}

.text-citation p span {
    padding: 20px;
    display: block;
    font-size: small;
    line-height: 30px;
}


/* FIN section CONTACT ############################# */


/* DEFINITION des propriétés FOOTER ####################*/

.footer {
    border-top: 0;
    padding-top: 200px;
    padding-bottom: 100px;
}

.footer .space-wb {
    margin: auto;
    text-align: center;
    margin: 20px;
}

.space-wb p,
.space-wb img {
    display: inline-block;
    vertical-align: middle;
}

.space-wb p {
    margin-left: 10px;
    font-size: 11px;
}

.footer .img-footer {
    margin: auto;
    text-align: center;
}

.logo-footer {
    display: inline-block;
    margin: 10px;
}

.logo-footer img {
    vertical-align: middle;
    margin: 5px;
}

.img-footer .social img {
    margin: 15px;
}


/* FIN FOOTER */


/* ###################################################################### */


/* ######################## PROPRIETE RESPONSIVE ######################## */


/* ###################################################################### */

@media (max-width: 800px) {}